.NavbarComponent {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    .Navbar {
        height: 8.5vh;
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
        color: white;
    }

    #basic-navbar-nav{
        background-color: #343A40;
        width: 100%;
        position: relative;
        z-index: 2;
    }

    .NavText {
        margin-left: 20px;
    }

    .user-name{
        color: #EC1D24;
        cursor:default;
        margin-right: 0;
    }

    .avatar{
        width: 25px;
        height: 25px;
        margin-left: -1vw;
    }
}
